@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
/* [next]/internal/font/google/gyByhwUxId8gMEwSGFWNOITddY4-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2" */

/* [next]/internal/font/google/gyByhwUxId8gMEwcGFWNOITd-s.p.woff2 (static in css) */
/* embedded static asset "/_next/static/media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2" */

/* [next]/internal/font/google/geist_e531dabc.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_e531dabc-module__QGiZLq__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_e531dabc-module__QGiZLq__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}


/* [next]/internal/font/google/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2" */

/* [next]/internal/font/google/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.woff2 (static in css) */
/* embedded static asset "/_next/static/media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2" */

/* [next]/internal/font/google/geist_mono_68a01160.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_68a01160-module__YLcDdW__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_68a01160-module__YLcDdW__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}


/* [project]/src/app/globals.css [app-client] (css) */
@layer theme, base, components, utilities;

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-red-100: oklch(.936 .032 17.717);
    --color-red-200: oklch(.885 .062 18.334);
    --color-red-300: oklch(.808 .114 19.571);
    --color-red-400: oklch(.704 .191 22.216);
    --color-red-500: oklch(.637 .237 25.331);
    --color-red-600: oklch(.577 .245 27.325);
    --color-red-700: oklch(.505 .213 27.518);
    --color-red-800: oklch(.444 .177 26.899);
    --color-red-900: oklch(.396 .141 25.723);
    --color-amber-100: oklch(.962 .059 95.617);
    --color-amber-200: oklch(.924 .12 95.746);
    --color-amber-300: oklch(.879 .169 91.605);
    --color-amber-400: oklch(.828 .189 84.429);
    --color-amber-500: oklch(.769 .188 70.08);
    --color-amber-600: oklch(.666 .179 58.318);
    --color-amber-700: oklch(.555 .163 48.998);
    --color-amber-800: oklch(.473 .137 46.201);
    --color-amber-900: oklch(.414 .112 45.904);
    --color-green-100: oklch(.962 .044 156.743);
    --color-green-200: oklch(.925 .084 155.995);
    --color-green-300: oklch(.871 .15 154.449);
    --color-green-400: oklch(.792 .209 151.711);
    --color-green-500: oklch(.723 .219 149.579);
    --color-green-600: oklch(.627 .194 149.214);
    --color-green-700: oklch(.527 .154 150.069);
    --color-green-800: oklch(.448 .119 151.328);
    --color-green-900: oklch(.393 .095 152.535);
    --color-blue-100: oklch(.932 .032 255.585);
    --color-blue-200: oklch(.882 .059 254.128);
    --color-blue-300: oklch(.809 .105 251.813);
    --color-blue-400: oklch(.707 .165 254.624);
    --color-blue-500: oklch(.623 .214 259.815);
    --color-blue-600: oklch(.546 .245 262.881);
    --color-blue-700: oklch(.488 .243 264.376);
    --color-blue-800: oklch(.424 .199 265.638);
    --color-blue-900: oklch(.379 .146 265.522);
    --color-gray-100: oklch(.967 .003 264.542);
    --color-gray-200: oklch(.928 .006 264.531);
    --color-gray-300: oklch(.872 .01 258.338);
    --color-gray-400: oklch(.707 .022 261.325);
    --color-gray-500: oklch(.551 .027 264.364);
    --color-gray-600: oklch(.446 .03 256.802);
    --color-gray-700: oklch(.373 .034 259.733);
    --color-gray-800: oklch(.278 .033 256.848);
    --color-gray-900: oklch(.21 .034 264.665);
    --spacing: .25rem;
    --shadow-sm: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --shadow-md: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    --shadow-lg: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    --shadow-xl: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    --shadow-2xl: 0 25px 50px -12px #00000040;
    --ease-in: cubic-bezier(.4, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, .2, 1);
    --ease-in-out: cubic-bezier(.4, 0, .2, 1);
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-font-feature-settings: var(--font-sans--font-feature-settings);
    --default-font-variation-settings: var(--font-sans--font-variation-settings);
    --default-mono-font-family: var(--font-mono);
    --default-mono-font-feature-settings: var(--font-mono--font-feature-settings);
    --default-mono-font-variation-settings: var(--font-mono--font-variation-settings);
  }
}

@layer base {
  *, :after, :before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea, ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: #0000;
    opacity: 1;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in oklab, currentColor 50%, transparent);
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit, ::-webkit-datetime-edit-year-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]), ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer utilities {
  .collapse {
    visibility: collapse;
  }

  .visible {
    visibility: visible;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .relative {
    position: relative;
  }

  .static {
    position: static;
  }

  .sticky {
    position: sticky;
  }

  .\!container {
    width: 100% !important;
  }

  @media (width >= 40rem) {
    .\!container {
      max-width: 40rem !important;
    }
  }

  @media (width >= 48rem) {
    .\!container {
      max-width: 48rem !important;
    }
  }

  @media (width >= 64rem) {
    .\!container {
      max-width: 64rem !important;
    }
  }

  @media (width >= 80rem) {
    .\!container {
      max-width: 80rem !important;
    }
  }

  @media (width >= 96rem) {
    .\!container {
      max-width: 96rem !important;
    }
  }

  .container {
    width: 100%;
  }

  @media (width >= 40rem) {
    .container {
      max-width: 40rem;
    }
  }

  @media (width >= 48rem) {
    .container {
      max-width: 48rem;
    }
  }

  @media (width >= 64rem) {
    .container {
      max-width: 64rem;
    }
  }

  @media (width >= 80rem) {
    .container {
      max-width: 80rem;
    }
  }

  @media (width >= 96rem) {
    .container {
      max-width: 96rem;
    }
  }

  .\!m-0 {
    margin: calc(var(--spacing) * 0) !important;
  }

  .block {
    display: block;
  }

  .contents {
    display: contents;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .inline {
    display: inline;
  }

  .inline-block {
    display: inline-block;
  }

  .inline-flex {
    display: inline-flex;
  }

  .list-item {
    display: list-item;
  }

  .table {
    display: table;
  }

  .h-4 {
    height: calc(var(--spacing) * 4);
  }

  .w-4 {
    width: calc(var(--spacing) * 4);
  }

  .flex-shrink {
    flex-shrink: 1;
  }

  .border-collapse {
    border-collapse: collapse;
  }

  .\!transform {
    transform: var(--tw-rotate-x) var(--tw-rotate-y) var(--tw-rotate-z) var(--tw-skew-x) var(--tw-skew-y) !important;
  }

  .transform {
    transform: var(--tw-rotate-x) var(--tw-rotate-y) var(--tw-rotate-z) var(--tw-skew-x) var(--tw-skew-y);
  }

  .resize {
    resize: both;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .items-center {
    align-items: center;
  }

  .gap-1 {
    gap: calc(var(--spacing) * 1);
  }

  .rounded {
    border-radius: .25rem;
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .\!pt-4 {
    padding-top: calc(var(--spacing) * 4) !important;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .lowercase {
    text-transform: lowercase;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .italic {
    font-style: italic;
  }

  .tabular-nums {
    --tw-numeric-spacing: tabular-nums;
    font-variant-numeric: var(--tw-ordinal, ) var(--tw-slashed-zero, ) var(--tw-numeric-figure, ) var(--tw-numeric-spacing, ) var(--tw-numeric-fraction, );
  }

  .underline {
    text-decoration-line: underline;
  }

  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .shadow {
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .outline {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
  }

  .blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .drop-shadow {
    --tw-drop-shadow: drop-shadow(0 1px 2px #0000001a) drop-shadow(0 1px 1px #0000000f);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .grayscale {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .invert {
    --tw-invert: invert(100%);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .filter {
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
    backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
  }

  .transition {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .ease-in {
    --tw-ease: var(--ease-in);
    transition-timing-function: var(--ease-in);
  }

  .ease-in-out {
    --tw-ease: var(--ease-in-out);
    transition-timing-function: var(--ease-in-out);
  }

  .ease-out {
    --tw-ease: var(--ease-out);
    transition-timing-function: var(--ease-out);
  }

  .\[xlink\:href\] {
    xlink: href;
  }
}

@media screen and (width <= 1440px) {
  .about-containers {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
  }

  .details-container {
    flex: 1;
    max-width: 350px;
    padding: 24px;
  }

  .experience__sections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .experience__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
  }

  .experience__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 8rem;
    width: 100%;
    max-width: 1200px;
  }

  .experience__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: #757575;
  }

  .present__container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

@media screen and (width <= 1200px) {
  .about-containers {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
  }

  .details-container {
    flex: 1;
    max-width: 300px;
    padding: 24px;
    padding: 1rem !important;
  }

  .project-description {
    font-size: .8rem;
  }

  .btn-container {
    display: flex;
    gap: .5rem;
  }

  .project-btn {
    font-size: .75rem;
    padding: .5rem .7rem !important;
    width: auto !important;
    min-width: 80px !important;
  }

  .project-btn img {
    width: 14px;
    height: 14px;
  }

  .article-container {
    gap: 1rem !important;
  }

  .btnProj {
    font-size: .7rem !important;
  }
}

@media screen and (width <= 1024px) {
  .profile {
    margin: 0;
  }

  .skill-item {
    gap: 0 !important;
  }

  .about-containers {
    gap: 1rem !important;
  }

  .btn-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .project-btn {
    width: 100%;
    text-align: center;
  }

  .allproject-container {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }

  .btnProj {
    font-size: .8rem !important;
  }
}

@media screen and (width <= 768px) {
  .desktop-nav {
    display: none;
  }

  .hamburger-nav {
    display: flex !important;
  }

  .links {
    padding: .5rem !important;
    font-size: 1.3rem !important;
  }

  .btn-container {
    display: flex;
    gap: .5rem;
    padding: 0 !important;
  }

  .project-btn {
    padding: 0 !important;
    font-size: .6rem !important;
    width: auto !important;
    min-width: 80px !important;
  }

  .project-btn img {
    width: 14px;
    height: 14px;
  }

  .profile {
    margin: 0 4rem;
    gap: 1rem !important;
  }

  .section__pic-container {
    width: 300px !important;
    height: 300px !important;
  }

  .about-containers {
    flex-direction: column;
    align-items: center;
    gap: 1rem !important;
  }

  .details-container {
    width: 90%;
    max-width: 400px;
    text-align: center;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  .article {
    width: 100%;
    justify-content: center;
  }

  .btn-container {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .project-btn {
    width: auto !important;
    min-width: unset !important;
    padding: .5rem 1rem !important;
    font-size: .8rem !important;
  }

  .experience__sections {
    flex-direction: column;
    align-items: center;
    display: flex !important;
  }

  .experience__rounder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .experience__line {
    transform: translate(0) !important;
  }

  .allproject-container {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (width <= 480px) {
  .profile {
    padding: 0 !important;
    margin: .5rem !important;
    gap: 0 !important;
  }

  .section__pic-container {
    width: 250px !important;
    height: 250px !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .section__text__p2 {
    font-size: 1rem !important;
  }

  .btn {
    border-radius: 2rem;
    padding: .5rem !important;
    width: 8rem !important;
    font-size: .7rem !important;
  }

  .about {
    margin: 0 !important;
  }

  .terminal {
    max-width: 90vw !important;
    margin: 0 auto !important;
    font-size: .8rem !important;
  }

  .terminal-header {
    height: 24px !important;
  }

  .statement {
    margin-left: 15px !important;
    margin-right: 15px !important;
    line-height: 20px !important;
  }

  .input-statement {
    font-size: 1rem !important;
  }

  .skills {
    margin: 0 !important;
  }

  .experiences {
    margin: 0 1rem !important;
  }

  .projects {
    margin: 0 1rem !important;
  }

  .contacts {
    margin: 0 1rem !important;
  }

  .allproject-container {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

:root {
  --background: #fff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, sans-serif;
}

html, body {
  overflow-x: hidden;
}

.dot {
  color: #c0f;
  font-size: 2.5rem;
  line-height: 0;
  vertical-align: baseline;
  display: inline-block;
  transform: translateY(-10%);
}

html {
  scroll-behavior: smooth;
}

p {
  color: #555;
}

a, .btn {
  transition: all .3s;
}

nav, .nav-links {
  display: flex;
}

.nav-links li {
  position: relative;
  list-style: none;
}

.nav-links li a {
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.nav-links li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: gray;
  transition: width .3s ease-in-out;
}

.nav-links li a:hover {
  color: gray;
}

.nav-links li a:hover:after {
  width: 100%;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #000;
  text-decoration: none;
  text-decoration-color: #fff;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #b5b5b5;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

.hamburger-nav {
  display: none;
}

.hamburger-menu {
  display: flex;
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  transition: all .3 ease-in-out;
  background-color: #000 !important;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: #fff;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all .3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  transition: all .3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg)translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg)translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  background: url("/portrait.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto 0;
  height: 400px;
  width: 400px;
  box-shadow: inset 0 0 0 9px #ffffff4d;
  justify-self: center;
  animation: 8s ease-in-out 1s infinite profile__animate;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all .3s;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  font-size: .8rem;
}

.btn-color-1, .btn-color-2 {
  border: .1rem solid #353535;
}

.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
  background: #353535;
  color: #fff;
}

.btn-color-1:hover {
  background: #000;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: .1rem solid #fff;
}

.btn-container {
  gap: 1rem;
}

.about-containers {
  margin-top: 20vh;
  margin: 0 auto;
  display: flex;
}

.terminal {
  max-width: 65vw;
  margin: 0 auto;
}

.terminal-header {
  height: 28px;
  background-color: #e4e3e5;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 9px;
}

.red {
  background-color: #f96256;
  border: 1px solid #f65549;
}

.yellow {
  background-color: #fdbc3d;
  border: 1px solid #ffb524;
}

.green {
  background-color: #33c948;
  border: 1px solid #2dbb41;
}

.terminal-window {
  background-color: #555;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 50px 100px #32325d26, 0 15px 35px #32325d33, 0 5px 15px #0000001f;
  font-family: Monaco, Consolas, Lucida Console, monospace;
}

.terminal-window a {
  color: var(--link-teal, teal);
}

.statement:first-child {
  padding-top: 35px;
}

.statement:last-child {
  padding-bottom: 60px;
}

.statement {
  margin-bottom: 25px;
  margin-left: 35px;
  margin-right: 35px;
  line-height: 24px;
}

.input-statement {
  color: #f7f7f7;
}

.input-statement:before {
  content: "> ";
}

.return-statement {
  color: #e7d184;
}

span {
  background: #f7f7f7a6;
  animation: 1s step-end infinite caret;
}

@keyframes caret {
  50% {
    background-color: #0000;
  }
}

.about {
  position: relative;
  max-height: 70vh;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-container {
  flex: 1;
  background: #fff;
  border-radius: 2rem;
  border: .1rem solid #353535;
  border-color: #a3a3a3;
  text-align: center;
  padding: 2rem;
  justify-content: space-between;
}

.skills {
  position: relative;
  max-height: 70vh;
}

.skills-sub-title {
  color: #555;
  font-weight: 600;
  font-size: 1rem;
  margin: .5rem;
}

.skills-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
}

.article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: .5rem;
}

.skillIcon {
  cursor: default;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.skill-name {
  font-weight: 400;
  font-size: 1rem;
}

.projects {
  position: relative;
}

.color-container {
  border-color: #a3a3a3;
  background: #fafafa;
}

.project-img {
  border-radius: 2rem;
  align-items: center;
}

.project-title {
  margin: 1rem;
  color: #000;
}

.project-btn {
  color: #000;
  border-color: #a3a3a3;
  justify-content: center;
  align-items: center;
}

.github-icon {
  filter: invert(0);
  transition: filter .3s ease-in-out;
}

.project-btn:hover .github-icon {
  filter: invert();
}

.project-description {
  padding-top: 0;
  padding-bottom: 1rem;
  color: #555;
}

.learnMore {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-learnMore {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: .2rem;
}

.learnMore:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #d599e4;
}

.btn-learnMore:hover .learnMore:after {
  width: 100%;
}

.nextArrow {
  transition: transform .3s ease-in-out;
}

.btn-learnMore:hover .nextArrow {
  transform: translateX(5px);
}

.contact__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-color);
  border: 1px solid #0000001a;
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  max-width: 700px;
  margin: 0 auto;
}

.contact__content {
  width: 100%;
  text-align: center;
}

.contact__title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.contact__form_div {
  position: relative;
  width: 100%;
}

.contact__form_tag {
  font-size: .85rem;
  font-weight: 600;
  color: #555;
  position: absolute;
  top: -10px;
  left: 15px;
  background: #fff;
  padding: 0 5px;
}

.contact__form_input {
  width: 100%;
  padding: 1rem;
  border: 2px solid #0000004d;
  border-radius: .75rem;
  font-size: 1rem;
  outline: none;
  background: none;
}

.contact__form_input:focus {
  border-color: #171717;
}

.contact__form_input::placeholder {
  color: #aaa;
}

.contact__form_area textarea {
  height: 150px;
  resize: none;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  background: #353535;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: .75rem 2rem;
  border-radius: .75rem;
  cursor: pointer;
  transition: background .3s;
}

.contact__button:hover {
  background: #000;
}

.send__icon {
  font-size: 1.2rem;
}

@media screen and (width <= 768px) {
  .contact__container {
    width: 90%;
    padding: 2rem;
  }
}

.contact__form_input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
}

.contact__form_div {
  margin-bottom: 1rem;
}

.contact__form_input:focus {
  outline: none;
  border: 2px solid #171717;
}

.contacts {
  position: relative;
}

.footer {
  border-top: 1px solid #0000001a;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__container {
  padding: 2.5rem;
  align-items: center;
  text-align: center;
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: 1rem;
  color: #555;
}

.experience__container {
  max-width: 768px;
}

.experience__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.experience__button {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 1rem;
  color: #333 !important;
}

.experience__icon {
  font-size: 1.4rem;
}

.experience__sections {
  display: grid;
  grid-template-columns: .5fr;
  justify-content: center;
}

.experience__content {
  display: block;
}

.experience__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.experience__title {
  font-size: 1.1rem;
  font-weight: 500;
}

.experience__subtitle {
  display: inline-block;
  font-size: .9rem;
  color: #555;
  background: none !important;
}

.experience__calender {
  display: flex;
  font-size: .9rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.calender {
  margin-right: 1.3px;
}

.experience__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #757575 !important;
}

.experience__line {
  display: block;
  width: 1px;
  height: 100%;
  transform: translate(6px, -7px);
  background-color: #757575 !important;
}

.present__container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experiences {
  position: relative;
  min-height: auto;
  height: auto;
  padding-bottom: 10vh;
}

.allproject-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  align-items: stretch;
}

.allproject-detail-container {
  flex: 1;
  background: #fff;
  border-radius: 2rem;
  border: .1rem solid #353535;
  border-color: #a3a3a3;
  text-align: center;
  padding: 2rem;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.backArrow {
  margin: 3rem 0 0 3rem;
  cursor: pointer;
}

.btnProj {
  font-weight: 600;
  transition: all .3s;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-size: .8rem;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false;
  initial-value: rotateX(0);
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false;
  initial-value: rotateY(0);
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false;
  initial-value: rotateZ(0);
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false;
  initial-value: skewX(0);
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false;
  initial-value: skewY(0);
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-ordinal {
  syntax: "*";
  inherits: false
}

@property --tw-slashed-zero {
  syntax: "*";
  inherits: false
}

@property --tw-numeric-figure {
  syntax: "*";
  inherits: false
}

@property --tw-numeric-spacing {
  syntax: "*";
  inherits: false
}

@property --tw-numeric-fraction {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-blur {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-invert {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-ease {
  syntax: "*";
  inherits: false
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__140ccadf._.css.map*/
